
.icon-eyedropper:before { content: '\e800'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-picture:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-doc-text-inv:before { content: '\e809'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */